*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.classpath
*.project
*.iml
.settings
bin

# IntellIJ
hs_err_pid*
/.idea/
target
classes

# Gradle
.gradle

# Test files
src/test/java/Test.java
src/test/kotlin/TestOsrs.kt
src/test/kotlin/TestCache.kt
